@font-face {
    font-family:'Muller';
    src: url('../fonts/mullerbold-webfont.woff2') format('woff2'),
         url('../fonts/mullerbold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family:'Muller';
    src: url('../fonts/mullermedium-webfont.woff2') format('woff2'),
         url('../fonts/mullermedium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family:'Muller';
    src: url('../fonts/mullermediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/mullermediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Muller';
    src: url('../fonts/mullerregular-webfont.woff2') format('woff2'),
         url('../fonts/mullerregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 320px;
    font-family: 'Muller', sans-serif;
}

.link {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.list {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
}

.heading {
    margin: 0;
    font-size: 48px;
    line-height: 100%;
    font-weight: normal;
    color: var(--color_text);
}

:root {
    --background-btn: #6D31EE;
    --color_text: #121723;
    --background-color: #F2F2F2;
    --color-span-text: #A1A6B4;
    --color-promo: #F0D288;
    --color-active: #4F28A5;
    --color-focus: #AA9Dfa;
    --color-yamarkt: #BB973e;
    --color-basic:#FFFFFF;
    --color-border: #E6E8EC;
}

/*header*/

.header__nav-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    padding: 11px 0px;
    align-items: center;
}

.header__logo-link {
    margin-right: 81px;
}

.header__list {
    margin-right: 81px;
    align-items: center;
}

.header__list-item:not(:last-child) {
    margin-right: 59px;
}

.header__nav-link {
    font-size: 20px;
    line-height: 100%;
    color: var(--color_text);
    transition-property: color, background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.header__nav-link:hover {
    color: var(--background-btn);
}

.header__nav-link:focus {
    outline: none;
    border: 1px transparent var(--color-focus);
    background-color: var(--color-focus);
    color: var(--color-basic);
}

.header__nav-link:active {
    border: none;
    background-color: transparent;
    color: var(--color-active);
}

.header__search {
    margin-right: 23px;
}

.header__search:hover .header__svg-pic {
    stroke: var(--color-focus);
}

.header__search:focus .header__svg-pic {
    stroke: var(--color-focus);
}

.header__search:active .header__svg-pic {
    stroke: var(--color-active);
}

.header__entrance {
    padding:9px 32px ;
    border: 2px solid var(--color_text);
    border-radius: 77px;
    transition: all .5s ease-in-out;
}

.header__entrance:hover  {
    background-color: var(--color_text);
}

.header__entrance:focus {
    background-color: var(--color-focus);
}

.header__entrance:active {
    border: 1px solid var(--color-active);
    background-color: var(--color-active);
}

.header__entrance:hover .header__entrance-link  {
    color: var(--color-basic);
}

.header__entrance:focus .header__entrance-link  {
    color: var(--color_text);
}

.header__entrance:active .header__entrance-link  {
    color: var(--color-basic);
}

.header__entrance-link {
    font-size: 15px;
    line-height: 100%;
    font-weight: 500;
    color: var(--color_text);
    transition: color .5s ease-in-out;
}

.header__nav-bottom {
    padding: 20px 0px;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
}

.header__second-nav {
    display: flex;
}

.header__second-list {
    display: flex;
    margin-right: 51px;
} 

.header__second-list-item:not(:last-child) {
    margin-right: 53px;
}

.header__second-link {
    font-size: 16px;
    line-height: 100%;
    color: var(--color_text);
    transition-property: color, background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.header__second-link:hover {
    color: var(--background-btn);
}

.header__second-link:focus {
    outline: none;
    border: 1px transparent var(--color-focus);
    background-color: var(--color-focus);
    color: var(--color-basic);
}

.header__second-link:active {
    border: none;
    background-color: transparent;
    color: var(--color-active);
}



.header__sound-after{
    flex-direction: column;
    position: relative;
    padding: 0px 87px;
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
}

.header__span-after {
    position: absolute;
    font-size: 12px;
    left: 43px;
    bottom: 13px;
    line-height: 100%;
    color: var(--color-border);
}

.header__heading-music-after {
    position: absolute;
    margin: 0;
    padding-top: 9px;
    left: 40px;
    font-size: 16px;
    line-height: 100%;
    color: var(--color_text);
}

.header__music-btn-after {
    position: absolute;
    left: 11px;
    top: -2px;
}

.header__sound-before {
    flex-direction: column;
    position: relative;
    padding: 0px 87px;
    border-right: 1px solid var(--color-border);
}

.header__span-before {
    position: absolute;
    font-size: 12px;
    left: 43px;
    bottom: 14px;
    line-height: 100%;
    color: var(--color-border);
}

.header__heading-music-before {
    position: absolute;
    margin: 0;
    padding-top: 9px;
    left: 40px;
    font-size: 16px;
    line-height: 100%;
    color: var(--color_text);
}

.header__music-btn-before {
    position: absolute;
    left: 10px;
    bottom: -7px;
}

.header__age {
    position: relative;
}

.header__age-pic {
    position: absolute;
    bottom: -21px;
    left: 51px;
}

.header__form {
    display: none;
    position: relative;
}

.header__form.active {
    display: block;
}

.header__form-label {
    position: absolute;
    width: 350px;
    height: 46px;
    right: 0px;
    border-bottom: 1px solid var(--color-active);
    background-color: white;
}

.header__form-input {
    position: absolute;
    width: 190px;
    height: 30px;
    top: 14px;
    right: 157px;
    border: none;
    outline: none;
}

.header__search.btn-active .header__svg-pic {
    stroke: var(--background-btn);
}

.header__music-btn-after:hover path {
    fill: var(--background-btn);
}

.header__music-btn-after:focus path {
    fill: var(--color-focus);
}

.header__music-btn-after:active path {
    fill: var(--color-active);
}

.header__music-btn-before:hover path {
    fill: var(--background-btn);
}

.header__music-btn-before:focus path {
    fill: var(--color-focus);
}

.header__music-btn-before:active path {
    fill: var(--color-active);
}

/*Hero*/

.hero {
    padding-bottom: 6px;
}

.hero__block {
    padding: 91px 0px;
    background-image: url(../img/microphone.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 54%;
}

.hero__heading {
    margin: 0;
    margin-bottom: 17px;
    font-size: 60px;
    line-height: 100%;
    font-weight: bold;
    color: var(--color_text);
}

.hero__span {
    font-size: 60px;
    line-height: 100%;
    font-weight: normal;
    color: var(--color_text);
}

.hero__deskr {
    margin: 0;
    margin-bottom: 48px;
    width: 600px;
    font-size: 16px;
    line-height: 150%;
    color: var(--color_text);
}

.hero__link-descr {
    font-size: 16px;
    line-height: 150%;
    color: var(--color-focus);
}

.hero__link {
    padding: 22px 54px;
    border: 1px solid var(--background-btn);
    border-radius: 40px;
    background-color: var(--background-btn);
    font-size: 20px;
    line-height: 100%;
    color: var(--color-basic);
    transition: background-color .5s ease-in-out;
}

.hero__link:hover {
    border: 1px solid var(--color-focus);
    background-color: var(--color-focus);
}

.hero__link:focus {
    outline:none;
    border: 2px solid var(--color-active);
    background-color: var(--color-focus);
}

.hero__link:active{
    outline: none;
    border: 1px solid var(--color-active);
    background-color: var(--color-active);
}

/*Podcast*/

.podcast {
    padding-top: 90px;
    padding-bottom: 92px;
    background-color: var(--background-color);
}

.podcast__heading {
    margin-bottom: 34px;
}

.podcast__list {
    margin-bottom: 27px;
}

.podcast__list-item {
    position: relative;
    margin-bottom: 30px;
    width: 540px;
    background-color: var(--color-basic);
}

.podcast__list-item:nth-child(odd) {
    margin-right: 30px;
}

.podcast__cards {
    position: relative;
    width: 73%;
}

.podcast__btn-block {
    position: absolute;
    top: 32px;
    right: -5px;
}

.podcast__card-top {
    padding: 24px 0px 33px 31px;
    width: 100%;
    border-bottom: 1px solid var(--color-border);
}

.podcast__time {
    margin: 0;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 100%;
    font-weight: normal;
    color: var(--color_text);
}

.podcast__list-headung {
    margin: 0;
    margin-bottom: 3px;
    font-size: 20px;
    line-height: 100%;
    font-weight: normal;
    color: var(--color_text);
}

.podcast__author {
    margin: 0px;
    margin-bottom: -7px;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: var(--color-span-text);
}

.podcast__counter {
    padding: 6px 30px;
}

.podcast__play,
.podcast__like,
.podcast__share {
    font-size: 16px;
    line-height: 100%;
    font-weight: normal;
    color: var(--color-span-text);
}

.podcast__play,
.podcast__like {
    margin-right: 27px;
}

.podcast__svg {
    padding-right: 6px;
}

.podcast__date {
    position: absolute;
    padding: 2px 8px;
    bottom: 0px;
    background-color: var(--color-border);
    border: 1px transparent var(--color-border);
    font-size: 10px;
    line-height: 100%;
    color: var(--color_text);
}

.podcast__link-more {
    margin-left: 39%;
    padding: 25px 52px;
    text-align: center;
    border: 2px solid var(--background-btn);
    border-radius: 40px;
    font-size: 20px;
    line-height: 100%;
    color: var(--background-btn);
    transition: all .5s ease-in-out;
}

.podcast__link-more:hover {
    background-color: var(--background-btn);
    color: var(--color-basic);
}

.podcast__link-more:focus {
    outline: none;
    border: 2px solid var(--background-btn);
    background-color: var(--color-focus);
    color: var(--color-basic);
}

.podcast__link-more:active {
    outline: none;
    border: none;
    background-color: var(--color-active);
    color: var(--color-basic);
    transform: translateY(3px);
}





